@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR";
}


/*depth*/
/*full-menu-product*/
.fixed {
  position: fixed;
  /* max-width: 1200px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  text-align: center;
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

.fixed > .full-menu-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}

.fixed>.full-menu-box>.full-menu-product {
  padding: 50px;
  width: 40%;
  text-align: left;
  border-right: 1px solid #ccc;
}

.full-menu-product>.f-depth1 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.depth2-wrap {
  display: flex;
  flex-wrap: wrap;
}

.depth2-wrap>.depth2 {
  width: 50%;
  margin-top: 20px;
}

.depth2-wrap>.depth2>li>a {
  color: #111;
  font-weight: 500;
}

.depth3 {
  margin-top: 20px;
}

.depth3>li>a {
  font-size: 14px;
  color: #555;
}

.depth3>li>a:hover {
  text-decoration: underline;
}

/*full-menu-etc*/

.fixed>.full-menu-box>.full-menu-etc {
  width: 60%;
  display: flex;
}

.fixed>.full-menu-box>.full-menu-etc>.f-menu-item {
  width: 50%;
  border-right: 1px solid #ccc;
}

.full-menu-etc>.f-menu-item {
  height: 100%;
}

.full-menu-etc>.f-menu-item>.top {
  height: 45%;
  padding: 50px;
  border-bottom: 1px solid #ccc;
  z-index: 20;
}

.full-menu-etc>.f-menu-item>.top>.f-depth1 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 20px;
}

.full-menu-etc>.f-menu-item>.top>.f-depth2>.f-depth2-menu {
  margin-top: 15px;
}

.full-menu-etc>.f-menu-item>.top>.f-depth2>.f-depth2-menu>a {
  color: #111;
  font-size: 16px;
}

.full-menu-etc>.f-menu-item>.top>.f-depth2>.f-depth2-menu>a:hover,
.full-menu-etc>.f-menu-item>.bottom>.f-depth2>li a:hover {
  text-decoration: underline;
}

.full-menu-etc>.f-menu-item:first-child>.bottom {
  height: 55%;
  background: url(image/full_menu_img.png)center no-repeat;
  background-size: cover;
  padding: 20px 20px;
}

.full-menu-etc>.f-menu-item:first-child>.bottom>.search-box {
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 10px 5px;
}

.full-menu-etc>.f-menu-item:first-child>.bottom>.search-box>input {
  border: none;
  outline: none;
  background-color: transparent;
}

.full-menu-etc>.f-menu-item:first-child>.bottom>.search-box>input::placeholder {
  color: #fff;
}

.full-menu-etc>.f-menu-item>.bottom>.f-depth2>li a {
  color: #111;
}

.full-menu-etc>.f-menu-item>.bottom:last-child>.f-depth1 {
  padding-top: 50px;
  /* position: relative; */
  /* border-top: 1px solid #ccc; */
}

.full-menu-etc>.f-menu-item>.bottom>.f-depth1 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 20px;
  margin-top: 50px;
}

.full-menu-etc>.f-menu-item>.bottom>.f-depth2>.f-depth2-menu {
  margin-top: 15px;
}

/*닫기버튼*/
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.close-btn>span {
  display: block;
  width: 35px;
  height: 2px;
  background: #333;
  position: absolute;
}

.close-btn>span:nth-child(1) {
  transform: rotate(45deg);
  transition: 0.5s;
  top: 11px;
  right: 1px;
  /* outline: 1px solid red; */
}

.close-btn>span:nth-child(2) {
  /* margin-top: 10px; */
  transform: rotate(135deg);
  top: 11px;
  right: 1.2px;
  transition: 0.5s;
}

/* 닫기버튼 hover */
.close-btn:hover span:first-child {
  transform: rotate(130deg);
}

.close-btn:hover span:last-child {
  transform: rotate(220deg);
}

/*depth end*/

/* hover시 상단메뉴 */
  #hover-menu {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    background-color: #fff;
    /* padding-top: 40px; */
    display: none;
  }
  #hover-menu > .top {
    max-width: 1200px;
    width: 100%;
    height: 162px;
    padding: 0 45px;
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;
  }
  #hover-menu > .top > .logo {
    display: flex;
    justify-content: center;
  }
  #hover-menu > .top > .logo img{
    /* width: 182px;
    height: 35px; */
    object-fit: cover;
  }
  #hover-menu > .top > .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: calc(100% - 60px);
    /* border-bottom: 1px solid #e2e2e2; */
    padding-bottom: 20px;
  }
  #hover-menu > .top > .container > .menu-btn {
    cursor: pointer;
    flex: 1;
  }
  #hover-menu > .top > .container > .menu-list {
    display: flex;
    gap: 40px;
  }
  #hover-menu > .top > .container > .menu-list a{
    color: #666;
    padding-bottom: 20px;
    /* transition: 0.2s; */
  }
  #hover-menu > .top > .container > .menu-list a.show {
    box-shadow:inset 0 -2px 0 rgba(0, 0, 0, 0.5); /* 아래에 선처럼 보이는 얇은 그림자 */
  }
  #hover-menu > .top > .container > .gnb-icon {
    display: flex;
    gap: 20px;
    justify-content: end;
    flex: 1;
  }

  /* depth */
  #hover-menu > .hover-depth1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 45px;
    position: relative;
    /* outline: 1px solid red; */
    border-bottom: 1px solid #e2e2e2;
  }
  #hover-menu > .hover-depth1 > .depth2-wrap2  {
    /* outline:  1px solid red; */
    /* position: relative; */
    height: auto;
    padding: 30px 0;
    border-right: 1px solid #e2e2e2;
    width: 15vw;
  }
  
  #hover-menu > .hover-depth1 > .depth2-wrap2 > .depth2 > li {
    line-height: 60px;
    color: #666;
    display: flex;
  }

  #hover-menu > .hover-depth1 > .depth2-wrap2 > .depth2 > li > a {
    line-height: 60px;
    color: #666;
    display: block;
  }
  #hover-menu > .hover-depth1 > .depth2-wrap2 > .depth2 > li .h-depth3 li a{
    color: #666;
  }
  /*hover*/
  #hover-menu > .hover-depth1 > .depth2-wrap2 > .depth2 > li:hover > a{
    text-decoration: underline;
    color: #111;
  }
  #hover-menu > .hover-depth1 > .depth2-wrap2 > .depth2 > li .h-depth3 li:hover a{
    text-decoration: underline;
    color: #111;
  }

  /*depth3*/
  #hover-menu > .hover-depth1 > .depth2-wrap2 > .depth2 > li > .h-depth3 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 0 30px 20px;
    display: none;
    width: calc(100% - 274px);
    height: 100%;
    /* outline: 1px solid red; */
  }
  /* #hover-menu > .hover-depth1 > .depth2-wrap2 > .depth2 > li > .h-depth3 > li {
    position: relative;
    z-index: 10;
  } */
  #hoverImg {
    /* outline: 1px solid red; */
    /* display: none; */
    position: absolute;
    left: 50%; /* 원하는 위치로 조정 */
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 430px;
    opacity: 0;
    object-fit: cover;
    visibility: hidden;
    transition: opacity 0.3s;
  }
  #hoverImg.show {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  /*collection-tab*/
  .hover-depth2 {
    position: relative;
    top: 0; left: 0;
    /* outline: 1px solid green; */
    /* display: none; */
    z-index: 5;
    background-color: #fff;
    width: 100%;
    height: 540px;
    border-bottom: 1px solid #e2e2e2;
  }
  .hover-depth2 > .cover {
    height: 100%;
    border-right: 1px solid #e2e2e2;
    width: 220px;
  }
  .hover-depth2  .depth2 {
    padding: 30px 45px 30px 0;
    height: auto;
  }
  .hover-depth2  .depth2 > li {
    line-height: 60px;
  }
  .hover-depth2  .depth2 > li a {
    color: #666;
  }
  /*hover*/
  .hover-depth2  .depth2 > li:hover {
    color: #111;
    text-decoration: underline;
  }

  #hoverImage2 {
    position: absolute;
    top: 45px;
    left: 15vw;
    width: calc(100% - 220px);
    height: 400px;
    object-fit: cover;
    display: block; /* 기본으로 보이게 */
    padding: 0 45px;
  }





/* hover시 상단메뉴 end */



/*작은화면 depth*/
/*작은화면 full-menu-product*/
.s-menu {
  position: fixed;
  top: 0; left: 0;
  width: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  transition: width 0.3s ease;
  z-index: 10;
}
.s-menu header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
}
.s-menu header img {
  width: 40px;
  height: 60px;
  /* object-fit: cover; */
}
.s-cBtn {
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
}
.s-cBtn:hover {
  transform: rotate(230deg);
}
.s-cBtn span{
  display: block;
  width: 30px;
  height: 1px;
  background-color: #555;
  /* position: absolute;
  top: 0;
  right: 0; */
}
.s-cBtn span:first-child {
  transform: rotate(90deg);
  transform-origin:center center;
}
.s-cBtn span:last-child {
  transform: rotate(180deg);
  transform-origin:center center;
}

/*미들*/
.middle {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.middle input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #333;
  width: 100%;
  padding-bottom: 5px;
}
.middle input::placeholder {
  font-weight: 400;
  font-size: 15px;
}
.middle a {
  border-bottom: 1px solid #333;
  /* padding-bottom: 10px; */
}
/* .middle a img {
  width: 2%;
} */

.login {
  display: flex;
  gap: 1vw;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.login button {
  width: 50%;
  height: 40px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  border: 1px solid #111;
  color: #111;
}
.s-fullmenu > .s-f-depth1 {
  display: flex;
  flex-direction: column;
}
.s-fullmenu > .s-f-depth1 > li{
  width: 100%;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
}
.s-fullmenu > .s-f-depth1 > li > a{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  line-height: 60px;
  color: #111;
}
.s-fullmenu > .s-f-depth1 > li:nth-child(2) > a::after,
.s-fullmenu > .s-f-depth1 > li:nth-child(3) > a::after,
.s-fullmenu > .s-f-depth1 > li:nth-child(5) > a::after {
  content: "";
  display: block;
  width: 30px;
  background: url(image/plus.png) no-repeat;
  background-position: center;
}

/*bg-black*/
.s-fullmenu > .s-f-depth1 > .bg-black {
  background-color: #111;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
}
.s-fullmenu .s-f-depth1 > .bg-black img{
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.s-fullmenu .s-f-depth1 > .bg-black > a{
  line-height: 50px !important;
  color: #fff;
  padding: 0;
  display: flex;
  width: 100%;
  padding-right: 20px;
  justify-content: space-between;
}

/*가상요소*/
.s-fullmenu .s-f-depth1 > .bg-black > a::after {
  content: "";
  display: block;
  width: 30px;
  background-image: url(image/chevron-right.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*depth2*/
.s-f-depth1 > li >.depth2-wrap2 {  
  display: none;
  max-height: 0;
  width:100%;
  transition: 0.3s;
  overflow:hidden;
}

.s-f-depth1 > li > .depth2-wrap2 > .depth2 > li {
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.s-f-depth1 > li:not(:nth-child(2)) > .depth2-wrap2 > .depth2 > li:last-child {
  border-bottom: none;
}

.s-f-depth1 > li:nth-child(2) > .depth2-wrap2 > .depth2:last-child > li {
  border-bottom: none;
}

.s-f-depth1 > li > .depth2-wrap2 .borderTop > a{
  border-top: 1px solid #333;
}

.s-f-depth1 > li > .depth2-wrap2 .depth2 > li > a {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  color: #888;
}


/*가상요소*/
.s-f-depth1 > .submenu > .depth2-wrap2 > .depth2 > li > a::after {
  content: "";
  display: block;
  width: 30px;
  background: url(image/plus.png) no-repeat;
  background-position: center;
}

/*메뉴가 열리는 순간 가상요소 변경*/
.s-fullmenu > .s-f-depth1 > li:nth-child(2) a.show::after, 
.s-fullmenu > .s-f-depth1 > li:nth-child(3) a.show::after, 
.s-fullmenu > .s-f-depth1 > li:nth-child(5) a.show::after {
  background: url(image/minus.png) no-repeat;
  background-position: center;
}

/*depth3*/
.s-depth3 {
  background-color: #e9e9e9;
  display: none;
  max-height: 0;
  width:100%;
  transition: 0.3s;
  overflow:hidden;
}
.s-depth3 li{
  padding: 0 20px;
}
.s-depth3 li a {
  color: #333;
}
.s-depth3 li a:hover {
  text-decoration: underline;
}

/*메뉴열리면 아이콘 변경*/
.s-f-depth1 > .submenu > .depth2-wrap2 > .depth2 > li > a.show::after{
  background: url(image/minus.png) no-repeat;
  background-position: center;
}

/*작은화면 depth end*/


#header {
  width: 100%;
  height: 100vh;
  position: relative;
}

#header::after {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
}

#header video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#header .logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 30px;
  z-index: 1;
}

#header>.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

#header>.container>.gnb-wrap {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 115px;
  width: 100%;
  padding: 0 45px;
}

/*메뉴버튼*/
#header .gnb-wrap>.menu-btn {
  cursor: pointer;
  /* outline: 1px solid green; */
  display: flex;
  flex: 1;
}

#header .gnb-wrap>.menu-list {
  display: flex;
  gap: 40px;
  /* outline: 1px solid green; */
}

#header .gnb-wrap>.menu-list a {
  color: #fff;
}

/*gnb icon*/
#header .gnb-wrap>.gnb-icon {
  display: flex;
  flex: 1;
  gap: 20px;
  cursor: pointer;
  justify-content: flex-end;
}


/*작은화면 헤더*/
#mini-header {
  width: 100%;
  height: 60vh;
  position: relative;
  display: none;
}

#mini-header>.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
  background: #fff;
}

#mini-header>.container>.gnb-wrap {
  width: 100%;
  height: 60px;
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mini-header>.container>.gnb-wrap>.menu-btn2,
#mini-header>.container>.gnb-wrap>.gnb-icon {
  cursor: pointer;
}

#mini-header>.container>.gnb-wrap>.logo {
  width: 108px;
  height: 60px;

}

#mini-header>.container>.gnb-wrap>.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*배경 비디오*/
#mini-header > video {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 60px;
  left: 0;
  object-fit: cover;
}


/*멀티프로오븐*/
#multioven {
  width: 100%;
  /* padding: 35px 45px; */
  background-color: #fff;
  position: relative;
}

#multioven .container {
  background: url(image/prooven.png) no-repeat;
  background-position: right;
  background-size: 500px;
  height: 600px;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  padding: 0 45px;
}

#multioven .tit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 30px;
}

#multioven .tit h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

#multioven .tit p {
  font-size: 16px;
  color: #555;
}

#multioven .tit a {
  margin-top: 10px;
  color: #111;
  width: fit-content;
  padding: 15px 40px;
  text-align: center;
  border: 1px solid #111;
  transition: 0.3s;
}

#multioven .tit a:hover {
  border: 1px solid #fff;
  color: #fff;
  background: #111;
}

/*멀티프로오븐 상세*/
#multioven-detail {
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
}

#multioven-detail>.container {
  display: flex;
  width: 100%;
  /* max-width: 1200px; */
  margin: auto;
  /* height: 800px; */
}

#multioven-detail>.container>.oven-img {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 50%;
}

#multioven-detail>.container>.oven-img>img {
  width: 60%
    /* height: 416px; */
}

#multioven-detail>.container>.oven-img>h2 {
  font-weight: 600;
  font-size: 24px;
  color: #333;
}

#multioven-detail>.container>.oven-img>p {
  font-size: 20px;
  color: #333;
}

/* #multioven-detail > .container > video {
  width: 50%;
} */
#multioven-detail>.container>video {
  width: 50%;
  /* height: 100%; */
  padding: 0;
  object-fit: cover;
  display: inline-block;
}

/* 진공 고속 블렌더 */
#blender {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url(image/blend.png);
  background-position: right center;
}

#blender .container {
  width: 1200px;
  margin: auto;
}

#blender .tit {
  position: absolute;
  /* padding: 0 45px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 50%;
  padding: 0 40px;
  transform: translateY(-50%);
}

#blender .tit h2 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

#blender .tit p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

#blender .tit a {
  margin-top: 10px;
  color: #fff;
  width: fit-content;
  padding: 15px 40px;
  text-align: center;
  border: 1px solid #fff;
  transition: 0.3s;
}

#blender .tit a:hover {
  border: 1px solid #111;
  color: #fff;
  background: #111;
}

#blender .t-img {
  width: 100%;
  height: 600px;
}

#blender .t-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* 진공 고속 블렌더 설명이미지 */
#blender-detail {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  /*이미지가 넘어가도 안 짤리게 할 거면 hidden 제거 */
}

#blender-detail>.container {
  display: flex;
  width: 100%;
  /* height: 100%; */
  /* padding: 120px 0; */
}

#blender-detail>.container>.blender-img {
  width: 50%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#blender-detail>.container>.blender-img>h2 {
  font-weight: 600;
  font-size: 24px;
  color: #333;
  text-align: center;
}

#blender-detail>.container>.blender-img>p {
  font-size: 20px;
  color: #333;
}

#blender-detail>.container>.blender-img>img {
  object-fit: cover;
}

#blender-detail>.container>.moving-img {
  width: 50%;
  height: auto;
  /* position: relative; */
}

#blender-detail>.container>.moving-img img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  position: absolute;
  left: 90vw;
  /* 오른쪽 화면 밖에서 시작 */
  transform: translateY(-50%);
  transition: transform 0.5s ease;
}

/* 클래식라인 */
#classic {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: url(image/classic.png);
  background-position: center center;
}

#classic .container {
  width: 1200px;
  margin: auto;
}

#classic .tit {
  position: absolute;
  /* padding: 0 45px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 50%;
  padding: 0 40px;
  transform: translateY(-50%);
}

#classic .tit h2 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

#classic .tit p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

#classic .tit a {
  margin-top: 10px;
  color: #fff;
  width: fit-content;
  padding: 15px 40px;
  text-align: center;
  border: 1px solid #fff;
  transition: 0.3s;
}

#classic .tit a:hover {
  border: 1px solid #111;
  color: #fff;
  background: #111;
}

#classic .t-img {
  width: 100%;
  height: 600px;
}

#classic .t-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*클래식 라인 상세이미지*/
#classic-detail {
  width: 100%;
}

#classic-detail .container {
  width: 100%;
  display: flex;
}

#classic-detail .container>.classic-img {
  width: 50%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#classic-detail .container>.classic-img img {
  object-fit: cover;
  width: 50%;
}

#classic-detail .container>.owner-img {
  width: 50%;
}

#classic-detail .container>.owner-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*스메그 뉴스*/
#smeg-news {
  width: 100%;
  /* height: 800px; */
  background-color: #f7f7f7;
}

#smeg-news>.container {
  max-width: 1200px;
  height: 800px;
  margin: auto;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  padding: 120px 20px;
  /* outline: 1px solid red; */
}

#smeg-news>.container>.tit {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 290px;
  position: sticky;
}

#smeg-news>.container>.tit>h2 {
  font-size: 48px;
  font-weight: 600;
  color: #222;
}

#smeg-news>.container>.tit>p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

#smeg-news>.container>.news-wrap {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex-wrap: wrap;
  padding-left: 20px;
  width: calc(100% - 290px);
}

#smeg-news>.container>.news-wrap>.l-inner,
#smeg-news>.container>.news-wrap>.r-inner {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 3vw;
}

#smeg-news>.container>.news-wrap>.l-inner img,
#smeg-news>.container>.news-wrap>.r-inner img {
  width: 100%;
}

#smeg-news>.container>.news-wrap>.l-inner {
  padding-right: 20px;
}

#smeg-news>.container>.news-wrap>.r-inner {
  margin-top: 10vh;
  padding-left: 10px;
}

#smeg-news>.container .news-box {
  margin-bottom: 20px;
  cursor: pointer;
}

#smeg-news>.container .news-box p {
  font-size: 18px;
  color: #111;
  margin-top: 20px;
  white-space: normal;
  /* word-break: break-word; */
}

/*정품등록 혜택*/
#register {
  width: 100%;
  height: 439px;
  background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image/9_정품등록혜택.png) center/cover;
}

#register > .container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 45px;
}

#register > .container > .tit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vh;
  width: 40%;
}

#register > .container > .tit h2 {
  color: #fff;
  font-weight: 500;
  font-size: 48px;
}

#register > .container > .tit p {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

#register > .container > .icon-wrap {
  display: flex;
  width: 60%;
  gap: 10px;
  justify-content: flex-end;
  padding: 20px auto;
}

#register > .container > .icon-wrap > .icon {
  background-color: #f7f7f7;
  width: 176px;
  height: 176px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#register > .container > .icon-wrap > .icon img {
  width: 53.40909%;
  /* height: 100%; */
  object-fit: cover;
}
#register > .container > .icon-wrap > .icon p {
  font-size: 18px;
  color: #111;
}

/*footer*/
#footer {
  background-color: #333;
  width: 100%;
  /* height: 439px; */
}
#footer .container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 45px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
} 
#footer .container .logo {
  width: 143px;
  height: 27px;
  margin-bottom: 30px;
}
#footer .container .logo img{
  width: 100%;
  height: 100%;
}
/*info-wrap*/
#footer .container .info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .container .info-wrap > .l-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* justify-content: space-between;
  align-items: space-between; */
}
#footer .container .info-wrap > .l-info > ul {
  display: flex;
  gap: 3vw;
}
#footer .container .info-wrap > .l-info > ul > li a {
  font-size: 18px;
  color: #e3e3e3;
}
#footer .container .info-wrap > .l-info > .personal {
  display: flex;
  gap: 18px;
}
#footer .container .info-wrap > .l-info > .personal a {
  display: block;
  /* width: 67px; */
  font-size: 14px;
  color: #e3e3e3;
  padding-right: 18px;
  border-right: 1px solid #e3e3e3;
  font-weight: 300;
}
#footer .container .info-wrap > .l-info > .personal a:nth-child(2){
  font-weight: 500;
}
#footer .container .info-wrap > .l-info > .personal a:last-child{
  border: none;
}
#footer .container .info-wrap > .l-info > .address p{
  font-size: 14px;
  color: #999;
}
#footer .container .info-wrap > .l-info > .copyright {
  font-size: 14px;
  color: #f9f9f9;
}
/*오른쪽 인포*/
#footer .container .info-wrap > .r-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 25px;
}
#footer .container .info-wrap > .r-info ul{
  display: flex;
  gap: 20px;
}
#footer .container .info-wrap > .r-info ul a{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
#footer .container .info-wrap > .r-info > .tel{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#footer .container .info-wrap > .r-info > .tel > h1{
  font-size: 20px;
  font-weight: 500;
  color: #f7f7f7;
}
#footer .container .info-wrap > .r-info > .tel > p{
  font-size: 16px;
  color: #666;
}
#footer .container .info-wrap > .r-info > .service {
  width: 100%;
}
#footer .container .info-wrap > .r-info > .service img{
  width: 100%;
  object-fit: cover;
}





/*1126px*/
/* @media screen and (max-width : 1126px){
  #smeg-news > .container > .tit > h2 {
    font-size: 40px;
  }
} */

/*1020px*/
@media screen and (max-width : 1020px) {
  #header {
    display: none;
  }

  #mini-header {
    display: block;
  }

  #multioven .container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(image/prooven.png) no-repeat;
    background-position: right;
    background-size: 400px;
  }

  /*스메그뉴스*/
  #smeg-news>.container {
    flex-direction: column;
    padding: 80px 40px;
    height: auto;
  }

  #smeg-news>.container>.news-wrap {
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    padding-left: 0;
    margin-top: 60px;
  }

  #smeg-news>.container>.news-wrap>.r-inner {
    margin-top: 0;
    padding-left: 20px;
  }

  #smeg-news>.container>.news-wrap>.l-inner {
    padding-right: 20px;
  }

  #smeg-news>.container .news-box p {
    font-size: 18px;
  }
  /*정품등록*/
  #register > .container {
    flex-direction: column;
    justify-content: center;
  }
  #register > .container > .tit {
    width: 100%;
  }
  #register > .container > .icon-wrap {
    width: 100%;
    justify-content: center;
    margin-top: 2vh;
  }

  /*footer*/
  #footer .container .info-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer .container .info-wrap > .l-info > .personal {
    margin-bottom: 30px
  }
  #footer .container .info-wrap > .l-info > .copyright {
    margin-bottom: 25px;
  }
  #footer .container .info-wrap > .r-info > ul{
    margin-bottom: 16px;
  }
  #footer .container .info-wrap > .r-info > .tel{
    margin-bottom: 50px;
  }
}

/*950px*/
@media screen and (max-width : 950px) {
  #multioven .container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(image/prooven.png) no-repeat;
    background-position: right;
    background-size: 350px;
    padding: 0 45px;
  }

  #multioven-detail>.container {
    flex-wrap: wrap;
  }

  #multioven-detail>.container>.oven-img {
    width: 100%;
    height: 100%;
  }

  #multioven-detail>.container>.oven-img>img {
    width: 50%
  }

  #multioven-detail>.container>video {
    width: 100%;
    /* height: 100%; */
  }

  #blender-detail>.container {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  #blender-detail>.container>.blender-img {
    width: 100%;
  }

  #blender-detail>.container>.moving-img {
    width: 100%;
    height: auto;
  }

  #blender-detail>.container>.moving-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 90vw;
    /* 오른쪽 화면 밖에서 시작 */
    transform: translateY(-50%);
    transition: transform 0.5s ease;
  }

  #classic-detail .container {
    flex-direction: column;
  }

  #classic-detail .container>.classic-img {
    width: 100%;
    padding: 60px 0;
  }

  #classic-detail .container>.classic-img img {
    width: 43.789473%
  }

  #classic-detail .container>.owner-img {
    width: 100%;
  }
}

/*768px*/
@media screen and (max-width : 768px) {
  #multioven-detail>.container>video {
    display: none;
  }

  #blender-detail>.container>.moving-img {
    display: none;
  }

  #classic-detail .container>.owner-img {
    display: none;
  }

  #smeg-news>.container {
    flex-direction: column;
    padding: 60px 20px;
    height: auto;
  }

  #smeg-news>.container>.news-wrap {
    margin-top: 40px;
  }

  #smeg-news>.container>.news-wrap>.r-inner {
    padding-left: 10px;
  }

  #smeg-news>.container>.news-wrap>.l-inner {
    padding-right: 10px;
  }
  #register > .container > .icon-wrap  {
    padding: 40px auto;

  }
  #register > .container > .icon-wrap > .icon {
    width: 150px;
    height: 150px;
  }
}

/*600px*/
@media screen and (max-width : 600px) {
  #multioven .container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(image/prooven.png) no-repeat;
    background-position: right;
    background-size: 300px;
    padding: 0 20px;
  }

  #multioven-detail>.container>.oven-img {
    padding: 80px 0;
  }

  #smeg-news>.container>.news-wrap {
    flex-direction: column;
  }

  #smeg-news>.container>.news-wrap>.r-inner {
    width: 100%;
    padding-left: 0;
  }

  #smeg-news>.container>.news-wrap>.l-inner {
    width: 100%;
    padding-right: 0;
  }

  #smeg-news>.container>.news-wrap>.l-inner,
  #smeg-news>.container>.news-wrap>.r-inner {
    gap: 0;
  }
  #register > .container > .icon-wrap > .icon {
    width: 100px;
    height: 100px;
  }

}

/*450px*/
@media screen and (max-width : 450px) {
  #footer .container {
    padding: 40px 20px;
  }
  #footer .container .info-wrap > .l-info > ul > li a {
    font-size: 16px;
  }
  #footer .container .info-wrap > .l-info > .personal {
    gap: 10px;
  }
  #footer .container .info-wrap > .l-info > .personal a {
    padding-right: 10px;
  }
}