*{margin: 0; padding: 0;box-sizing: border-box;}
ul,li { list-style: none; }
a{ text-decoration: none; }
img {display: block;}
html,body {width: 100%;height: 100%;}


#header {
  width: 100%;
  height: 100vh;
  position: relative;
}
#header::after {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.5),transparent);
}
#header video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0; left: 0;
}
#header .logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 30px;
  z-index: 1;
}
#header > .container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
#header >.container > .gnb-wrap {
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 115px;
  width: 100%;
  padding: 0 45px;
}

/*메뉴버튼*/
#header .gnb-wrap > .menu-btn {
  cursor: pointer;
  /* outline: 1px solid green; */
  display: flex;
  flex: 1;
}
#header .gnb-wrap > .menu-list {
  display: flex;
  gap: 40px;
  /* outline: 1px solid green; */
}
#header .gnb-wrap > .menu-list a {
  color: #fff;
}

/*depth*/
/*full-menu-product*/
#header .gnb-wrap > .menu-btn > .fixed {
  display: none;
  position: fixed;
  /* max-width: 1200px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 100;
  text-align: center;
  padding: 20px 0;
  /* overflow-y: scroll; */
}
#header .gnb-wrap > .menu-btn > .fixed > .full-menu-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}
#header .gnb-wrap > .menu-btn > .fixed > .full-menu-box > .full-menu-product {
  padding: 50px;
  width: 40%;
  text-align: left;
  border-right: 1px solid #ccc;
}
.full-menu-product > .f-depth1 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}
.depth2-wrap {
  display: flex;
  flex-wrap: wrap;
}
.depth2-wrap > .depth2 {
  width: 50%;
  margin-top: 20px;
}
.depth2-wrap > .depth2 > li > a {
  color: #111;
  font-weight: 500;
}
.depth3 {
  margin-top: 20px;
}
.depth3 > li > a{
  font-size: 14px;
  color: #555;
}

/*full-menu-etc*/

#header .gnb-wrap > .menu-btn > .fixed > .full-menu-box >  .full-menu-etc {
  width: 60%;
  display: flex;
}
#header .gnb-wrap > .menu-btn > .fixed > .full-menu-box > .full-menu-etc > .f-menu-item {
  width: 50%;
  border-right: 1px solid #ccc;
}

.full-menu-etc > .f-menu-item {
  height: 100%;
}
.full-menu-etc > .f-menu-item > .top {
  height: 40%;
  padding: 50px;
  /* outline: 1px solid red; */
}
.full-menu-etc > .f-menu-item > .top > .f-depth1 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 20px;
}
.full-menu-etc > .f-menu-item > .top > .pad{ /*😚😚😙*/
  padding-bottom: 30px !important;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.full-menu-etc > .f-menu-item > .top > .f-depth2 > .f-depth2-menu  {
  margin-top: 15px;
}
.full-menu-etc > .f-menu-item > .top > .f-depth2 > .f-depth2-menu > a {
  color: #111;
  font-size: 16px;
}
.full-menu-etc > .f-menu-item:first-child > .bottom {
  height: 60%;
  background: url(image/full_menu_img.png)center no-repeat;
  background-size: cover;
  padding: 20px 20px;
}
.full-menu-etc > .f-menu-item:first-child > .bottom > .search-box {
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 10px 5px;
}
.full-menu-etc > .f-menu-item:first-child > .bottom > .search-box > input {
  border: none;
  outline: none;
  background-color: transparent;
}
.full-menu-etc > .f-menu-item:first-child > .bottom > .search-box > input::placeholder {
  color: #fff;
}

.full-menu-etc > .f-menu-item > .bottom > .f-depth2 > li a {
  color: #111;
}
.full-menu-etc > .f-menu-item > .bottom:last-child > .f-depth1 {
  padding-top: 50px;
  /* border-top: 1px solid #ccc; */
}
.full-menu-etc > .f-menu-item > .bottom > .f-depth1 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 20px;
}
.full-menu-etc > .f-menu-item > .bottom > .f-depth2 > .f-depth2-menu  {
  margin-top: 15px;
}






/*gnb icon*/
#header .gnb-wrap > .gnb-icon {
  display: flex;
  flex: 1;
  gap: 20px;
  cursor: pointer;
  justify-content: flex-end;
}